.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

body, html {
    height: 100%
}

body, h1, h3, h4, h5, h6 {
    font-family: "Charybdis", "Amatic SC", sans-serif
}

h2 {
    font-family: "Charybdis", "Amatic SC", sans-serif;
    font-weight: bold;
    font-size: 50;
}

ol {
    margin-left: 60px;
}

ol li {
    color: darkred;
}

.menu {
    display: none
}

.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./RushTaurantSecrets/assets/Website/website_header.png");
    min-height: 90%;
}

@font-face {
    font-family: "Charybdis";
    src: url("./RushTaurantSecrets/assets/Fonts/chary___.ttf");
}